@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Young Serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

:root {
    --white: hsl(0, 0%, 100%);

    --stone-100: hsl(31, 53%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    --dusky-blue: hsl(228, 45%, 44%)
}

body {
    align-items: center;
    background-color: var(--stone-100);
    color: var(--stone-600);
    display: flex;
    flex-direction: column;
    font-family: 'Outfit';
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
}

h1 {
    color: var(--stone-900);
    font-family: 'Young Serif';
    font-weight: 400;
    line-height: 100%;
    margin-top: 0;
}

h2 {
    color: var(--brown-800);
    font-family: 'Young Serif';
    font-weight: 400;
}

h3 {
    color: var(--rose-800);
    font-weight: 700;
    margin-top: 0;
}

img {
    max-width: 100%;

    /* Desktop Breakpoint */
    @media screen and (min-width: 992px) { 
        border-radius: 10px;
    }
}

li {
    padding-bottom: 10px;
}

ol {
    padding-left: 21px;
}

    ol li {
        padding-left: 17px;
    }

        ol li::marker {
            color: var(--brown-800);
            font-weight: bold;
        }

strong, b {
    font-weight: 600;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding-bottom: 10px;
    padding-top: 10px;
}

    td:nth-child(1) {
        padding-left: 10px;
    }

    td:nth-child(2) {
        color: var(--brown-800);
        font-weight: bold;
    }

tr~tr {
    border-top: 1px solid var(--stone-150);
}

ul {
    padding-left: 7px;
}

    ul li {
        align-items: center;
        display: flex;
    }

        ul li::before {
            color: var(--brown-800);
            content: "\2022";
            margin-right: 24px;
        }

.attribution {
    padding: 10px;
}

    .attribution a { 
        color: var(--dusky-blue); 
    }

.card {
    background-color: var(--white);
    max-width: fit-content;
    width: 100%;

    /* Desktop Breakpoint */
    @media screen and (min-width: 992px) { 
        border-radius: 25px;
        margin: 120px auto;
    }
}

.card-image {
    /* Desktop Breakpoint */
    @media screen and (min-width: 992px) { 
        padding: 30px 32px 0px 32px;
    }
}

.card-text {
    padding: 30px 32px;
}

.preparation {
    background-color: var(--rose-50);
    border-radius: 10px;
    padding: 20px 25px;
}

    .preparation li::before {
        color: var(--rose-800);
    }

    .preparation ul {
        margin-bottom: 0;
    }

#instructions {
    border-bottom: 1px solid var(--stone-150);
    border-top: 1px solid var(--stone-150);
}